*:focus {
    outline: none;
}

.logintominiter {
    width: 500px;
    margin :100px auto;
    text-align: center;
}
#idid {
    width : 100%;
    height :30px;
    margin-bottom : 20px;
    border-right :none;
    border-left : none;
    border-top : none;
    border-bottom: 2px solid #484424;
    padding-left:10px;
}
#passwordd {
    width :100%;
    height :30px;
    margin-bottom :20px;
    border-right :none;
    border-left : none;
    border-top:none;
    border-bottom: 2px solid #484424;
    padding-left : 10px;
}

#push {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  border-radius:50px 50px 50px 50px;
  border : none;
  background-color: grey;
  color: white;
  font-size : 25px;
}

#forgot {
    color:#f8b4c0;
}